src/pages/includes/modals.pug
#registration.modal
  a(href="").modal__close
  .modal__title регистрация
  .form-row-o
    input(type="email" placeholder="Ваша почта").form-row-o__input
  .form-row-o
    input(type="password" placeholder="Пароль").form-row-o__input
  .form-row-o
    input(type="password" placeholder="Повторите пароль").form-row-o__input
  .form-row-o
    input(type="text" placeholder="Username PUBG").form-row-o__input
  .form-row-o.mt-15
    a(href="").btn-r-violet.btn--full Регистрация
  .form-row-o.mt-30
    p.hint!="* Если вы введете чужой username PUBG <br>то мы вынуждены отказать вам в обслуживании)"
    p.hint.mt-15 * При смене username в игре PUBG, не забудьте сменить username на сайте в разделе настройки
#participate.modal.modal--info
  a(href="").modal__close
  p.modal__text-info!="Вы участвуете <br> в турнире"
#completion.modal.modal--info
  a(href="").modal__close
  p.modal__text-info!="Ожидайте завершения <br> турнира"
#timer-modal.modal.modal--info
  a(href="").modal__close
  .text-center
    p.modal__text-info.mb-0!="Игра началась"
    #timer.timer
#pubg.modal
  a(href="").modal__close
  h3.modal__sub-title Ваш username PUBG
  .form-row
    input(type="text" placeholder="Playername1").form-row__input
  .form-row
    input(type="text" placeholder="Playername2").form-row__input
  .form-row
    input(type="text" placeholder="Playername3").form-row__input
  .form-row
    input(type="text" placeholder="Playername4").form-row__input
  .form-row.mt-15
    a(href="").btn.btn--small
      span.btn__inner Участвовать

build/modals.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><title>Title your site</title><meta content="width=device-width, initial-scale=1" name="viewport"><meta content="ie=edge" http-equiv="x-ua-compatible"><link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="css/style.min.css"></head><body><div id="overlay"></div><div class="modal" id="registration"><a class="modal__close" href=""></a><div class="modal__title">регистрация</div><div class="form-row-o"><input class="form-row-o__input" type="email" placeholder="Ваша почта"></div><div class="form-row-o"><input class="form-row-o__input" type="password" placeholder="Пароль"></div><div class="form-row-o"><input class="form-row-o__input" type="password" placeholder="Повторите пароль"></div><div class="form-row-o"><input class="form-row-o__input" type="text" placeholder="Username PUBG"></div><div class="form-row-o mt-15"><a class="btn-r-violet btn--full" href="">Регистрация</a></div><div class="form-row-o mt-30"><p class="hint">* Если вы введете чужой username PUBG <br>то мы вынуждены отказать вам в обслуживании)</p><p class="hint mt-15">* При смене username в игре PUBG, не забудьте сменить username на сайте в разделе настройки</p></div></div><div class="modal modal--info" id="participate"><a class="modal__close" href=""></a><p class="modal__text-info">Вы участвуете <br> в турнире</p></div><div class="modal modal--info" id="completion"><a class="modal__close" href=""></a><p class="modal__text-info">Ожидайте завершения <br> турнира</p></div><div class="modal modal--info" id="timer-modal"><a class="modal__close" href=""></a><div class="text-center"><p class="modal__text-info mb-0">Игра началась</p><div class="timer" id="timer"></div></div></div><div class="modal" id="pubg"><a class="modal__close" href=""></a><h3 class="modal__sub-title">Ваш username PUBG</h3><div class="form-row"><input class="form-row__input" type="text" placeholder="Playername1"></div><div class="form-row"><input class="form-row__input" type="text" placeholder="Playername2"></div><div class="form-row"><input class="form-row__input" type="text" placeholder="Playername3"></div><div class="form-row"><input class="form-row__input" type="text" placeholder="Playername4"></div><div class="form-row mt-15"><a class="btn btn--small" href=""><span class="btn__inner">Участвовать</span></a></div></div><div class="inner-page" id="main"><header class="header"><div class="main-container"><a class="header__logo" href="#"></a><div class="header__top"><div class="col-auto"><div class="header__sign-in"><a href="">Вход</a>/<a href="">Регистрация</a></div></div><div class="col-auto ml-auto"><div class="header__user"><div class="header__user-cont"><a class="header__user-name" href="#">Playername</a><div class="header__user-price">250<span class="header__user-currency">$</span></div></div><a class="header__user-avatar" href="#" style="background-image: url('img/pic-1.jpg')"></a><div class="header__user-avatar-m" style="background-image: url('img/pic-1.jpg')"></div><div class="header__user-drop"><a class="header__user-name" href="#">Playername</a><div class="header__user-price">250<span class="header__user-currency">$</span></div></div></div></div></div><a class="header__btn-menu" href=""><span></span><span></span><span></span></a><div class="header__menu"><div class="header__sign-in"><a href="">Вход</a>/<a href="">Регистрация</a></div><ul class="header__nav"><li class="header__nav-item"><a class="header__nav-link" href="">Главная</a></li><li class="header__nav-item"><a class="header__nav-link" href="">Правила</a></li><li class="header__nav-item"><a class="header__nav-link" href="">Функции</a></li><li class="header__nav-item"><a class="header__nav-link" href="">Турниры</a></li><li class="header__nav-item"><a class="header__nav-link" href="">FAQ</a></li></ul></div></div></header><div class="page-content"><div class="main-container"><div class="title-group"><h1 class="h1">Модалы</h1><div class="text-center" style="margin:30px 0;"><a class="btn btn--small modal-btn" href="#registration"><span class="btn__inner">Регистрация</span></a><br><br><a class="btn btn--small modal-btn" href="#participate"><span class="btn__inner">Инфо</span></a><br><br><a class="btn btn--small modal-btn" href="#completion"><span class="btn__inner">Инфо 2</span></a><br><br><a class="btn btn--small modal-btn" href="#timer-modal"><span class="btn__inner">Таймер</span></a><br><br><a class="btn btn--small modal-btn" href="#pubg"><span class="btn__inner">pubg</span></a></div></div></div></div></div><script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script><script src="js/main.min.js"></script></body></html>
